/* Header.css */
.header {
    position: fixed; /* Keep the header at the top */
    top: 0;
    right: 0; /* Align to the right */
    width: 100vw; /* Set width to half of the viewport width */
    background-color: #f9f9f9; /* Transparent background */
    padding: 15px 30px; /* Add some padding */
    display: flex; /* Use flexbox for alignment */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    z-index: 8; /* Ensure it stays above other content */
}

.header-content {
    display: flex;
    flex-direction: row;
    gap:20px
}

.welcome-message {
    font-size: 16px; /* Adjust font size as needed */
    color: #bd3333; /* Change color based on your design */
}

.icon {
    color: #9c1c1c; /* Change color based on your design */
    font-size: 20px; /* Adjust icon size */
    cursor: pointer; /* Change cursor to pointer */
}

.cart-container {
    position: relative;
    display: inline-block;
}

.icon {
    font-size: 24px; /* Adjust size as needed */
    position: relative;
    cursor: pointer;
}

.cart-badge {
    position: absolute;
    top: -10px;  /* Adjust for positioning */
    right: -10px;  /* Adjust for positioning */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

